# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/

# Testy i narzędzia
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/
*.swp

# System
.DS_Store
Thumbs.db

# Streamlit / lokalne dane
.streamlit/secrets.toml
